.btnContainer {
  display: flex;
  flex-direction: column;
  /* align-items: space-around; */
  justify-content: space-between;
  height: 10rem;
  margin: 2rem 4rem;
}

.btnContainer button {
  padding: 0.6rem;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #fff;
  color: goldenrod;
  border: 1px solid goldenrod;
  transition: all 0.25s;
}

.btnContainer button:hover {
  color: #fff;
  background-color: goldenrod;
  border: 1px solid #fff;
}
