.main {
  margin: 5rem 3rem;
  max-width: 90rem;
}

.title {
  text-align: center;
}

.underline {
  width: 10rem;
  height: 0.3rem;
  background-color: goldenrod;
  margin: 0 auto;
}

.contents {
  display: flex;
  justify-content: space-between;
}
